.checkout{
    display: flex;
    padding: 20px;
    height: max-content;
    background-color: white;
   
}

.checkout_ad{
    width: 100%;
    margin-bottom: 30px;
    height: 200px;
    object-fit: cover;
    width: 900px;
}
.checkout_title{
    margin-right: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
}
.checkout_right{
    position: absolute;
    right: 10px;
}